@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:ital@1&display=swap');

*{
  font-family: 'Noto Serif', serif !important;
  text-align: center;
}

.App {
  text-align: center;
  font-family: cursive;
}
.trending-div{
  background:black;
  height: 150vh;
  
}
.trending-img{
  height: 70%;
  width: 420rem;
}

.popularImage{
  margin-right: 1rem;
}
.homePage{
  background-color:#10002b;
  width: 100%;
}
.slider{
  width: 99%
}
.rowTitle{
  color: white;
  text-align: left;
  display: flex;
  left:0rem;
}
.popularImage{
  height: 26rem;
  width: 23rem;
}
.searchResults{
  /* color: white; */
  margin-bottom: 4rem;;
  /* width: 23rem; */
  /* justify-self: center; */
  /* display: block; */
}
.card-body{
  background: #240046;
  outline: none;
  border: none;
}
.searchPage{
  background-color: #10002B;
  color: white;
}
.searchBtn {
  border: none;
  outline: none;
  margin-left: 1rem;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #10002B;
  cursor: pointer;
}
.searchContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
      ellipse at left bottom,
      #10002B 3%,
      #31005f 69%,
      rgba(199, 125, 255, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(60, 9, 108, 0.671);
}
.moviePage{
  background-color: #240046;
  color: #fff;
  font-size: larger;
}
.searchBox{
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-left: 1rem !important;
}
.header{
  font-weight: bold;
}

.Nav{
  background-color: #10002b;
}
.watchedBtn{
  background-color: #5A189A;
}
.homePageHeader{
  color: #fff;
  /* background-color: #5A189A; */
  /* width: 40%; */
  /* justify-self: center !important; */
  /* display: inline-block; */
}
.homePageText{
  /* font-family:'Playball', cursive !important; */
  /* font-size: xx-large; */
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.homePageLogo{
  font-family:'Playball', cursive !important;
  /* float: left; */
  margin-top: -1rem;
  /* margin-right: 40rem; */
  /* background-color: #5A189A; */
  font-size: 2rem;
  color: #fff;
  animation: 2s ease-out 2s 1 slideInFromLeft;
  background:#7B2CBF;
  padding: .24rem;
  margin-left: -1rem;
  border-radius: 2rem;
  width: 40%;
  /* -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg); */
}

.watchedBtn{
  margin-right: 4rem;
  border: none;
  outline: none;
  width: 40%;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgb(16, 0, 43) ;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.genreBtn{
  background: #9D4EDD;
  color: #e8c1ff;
  padding: 15px;
  font-size: 18px;
  margin:0.4rem;
  border-radius: 2rem;
  border-color: #26033a;
}
.genreBtn:hover{
  background: #d082fd;
}
.genreContainer{
  padding: 2rem 10rem;
}
.categoryPage{
  background:rgb(16, 0, 43);
}
.categoryResult{
  margin-bottom: 3rem;
}
.logo{
  height: 3rem;
  padding-bottom: 1.2rem;
}
.categoryTitle{
  color: #f1e1fa;
}