.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.trending-div{
  background:black;
  height: 150vh;
}
.trending-img{
  height: 70%;
  width: 420rem;
}
.login-page {
  height: 100vh;
  width: 100rem;
  display: flex;
  /* background: linear-gradient(170deg, rgb(0, 0, 2), midnightblue); */

  background-image: url(https://image.tmdb.org/t/p/w500/464N3J1i6L5SsazPmX9m3q1GiZ3.jpg);
  background-repeat: no-repeat;
  /* position: absolute; top: 0; left: 0; height: 100%; width: 100%; */
}
.login-form{
  background: linear-gradient(170deg, rgb(0, 0, 2), midnightblue);
  max-width: 30rem;
  display: inline-block;
  height: 18rem;
  width: 30rem;
  color: white;
  font-family:fantasy;
  padding-top: 2rem;
  border-radius: 2rem;
  font-size: 18px;
}
/* .popularCarousel{
  display:block;
} */
.popularImage{
  margin-right: 1rem;
}
.homePage{
  background: linear-gradient(170deg, rgb(0, 0, 2), midnightblue);
}
.rowTitle{
  color: white;
  text-align: left;
  display: flex;
  left:0rem;
}
.popularImage{
  height: 26rem;
  width: 23rem;
}
.searchResults{
  color: white;
}
.searchPage{
  background: rgb(15, 23, 56);
  color: white;
}
.searchBtn {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #1c0d70;
  cursor: pointer;
}
.searchContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(2, 3, 24) 0%,
    #040b33e6 59%,
    rgba(9, 98, 134, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(10, 16, 34, 0.8);
}
.moviePage{
  background:rgb(0, 0, 2);
  color: #fff;
  font-size: larger;
}
.searchBox{
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-left: 1rem !important;
}
.header{
  font-weight: bold;
}