.main-footer{
    color: rgb(224, 170, 255);
    background-color: #10002b;
    padding-top: 1rem;
    bottom: 0;
    align-content: center;
    width: 100%;
    height: auto;
    overflow:scroll;
    /* z-index: -1; */
    font-size: 5mm;
  }
  .subscribeInput{
      width: 70%;
      justify-self: center;  
}
  .subscribe-btn{
    background: rgb(60, 9, 108);
    color: #e3bcfa;
    width: 70%;
    margin-left: 12rem;
    justify-self: center;  
  }