*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", 'Times New Roman', Times, serif;
  }
  
  .loginBtn {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #10002B;
    cursor: pointer;
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgb(16, 0, 43) 0%,
      #31005f 65%,
      rgba(199, 125, 255, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(60, 9, 108, 0.671);
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(224, 170, 255, 0.233);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: rgb(224, 170, 255);
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }

 .login{
     background:rgb(16, 0, 43);
 }
.signupDropdown{
  border-radius: 0rem;
  background: rgba(112, 173, 242, 0.233);
  color: #fff;
  border: none;
  outline: none;
  font-size: 19px;
}