/* *{
    align-self: center;
    justify-content: center;
} */


.profileImage{
    height: 50vh;
    width: 20rem;
}

.ProfileDetails{
    background: black;
    height: 180vh;
}
.profileContainer{
    padding: 60px;
    width:100%;
    min-height: 100vh;
    display: flex;
    background: #240046
}
.profile{
    width: 80%;
    justify-self: center;
    margin-left: 6rem;
    /* background:#5A189A; */
    padding: 2rem;
}

.profileData{
    color: white;
    display:flexbox;
    font-size: 1.5em;
}
    
.profileBtn {
    border: none;
    outline: none;
    width: 101%;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: rgb(16, 0, 43) ;
    cursor: pointer;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .editProfile{
      padding: 8rem;
      padding-left: 15rem;
      padding-right: 15rem;
      background: radial-gradient(
      ellipse at left bottom,
      rgb(16, 0, 43) 0%,
      #31005f 65%,
      rgba(199, 125, 255, 0.9) 100%
    );
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .editProfileBtn{
    margin-right: 20rem;
    border: none;
    outline: none;
    width: 101%;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: rgb(16, 0, 43) ;
    cursor: pointer;
    margin-bottom: 1rem;
  }